@font-face { font-family: Quicksand; font-weight: light; src: url('fonts/quicksand/Quicksand_Light.otf'); } 
@font-face { font-family: Quicksand; font-weight: bold; src: url('fonts/quicksand/Quicksand_Bold.otf'); }
@font-face { font-family: Quicksand; src: url('fonts/quicksand/Quicksand_Book.otf'); } 
@font-face { font-family: Archer; src: url('fonts/archer/ARCHER.TTF'); }

* {
 font-family: Quicksand;
 background-color : #4b4458;
 color: #fff;
}

h1 {
font-family: Archer;
#font-weight: bold;
}

a {
 text-decoration: none;
 color:  #FF5733 ;
}

a:hover {
 text-decoration: underline;
}
