body {
  color: #444;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #ccc;
    background: #0d1117;
  }

  a:link {
    color: #5bf;
  }

  a:visited {
    color: #ccf;
  }
}

.socials {
  text-align: center;  
}

.socials ul {
  padding: 0;
  font-size: 80%;
}

.socials li {
  padding: 10px;
  display: inline-block;
}

.socials a {
    text-decoration: none;
}

.footer {
  text-align: center;
  font-size: 80%;
}
